
     .card__list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     }
 
     .card__item {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     width: 380px;
     margin-bottom: 60px;
    }
     
     .card__item::before {
     display: block;
     content: "";
     width: 34px;
     height: 34px;
     padding: 0 10px;
     background-repeat: no-repeat;
     background-position: center;
     }

     .card__item--icon01::before {
     background-image: url(../images/icons/services/icon01.svg);
     }
 
     .card__item--icon02::before {
     background-image: url(../images/icons/services/icon02.svg);
     }
 
     .card__item--icon03::before {
     background-image: url(../images/icons/services/icon03.svg);
     }
 
     .card__item--icon04::before {
     background-image: url(../images/icons/services/icon04.svg);
     }
 
     .card__item--icon05::before {
     background-image: url(../images/icons/services/icon05.svg);
     }
 
     .card__item--icon06::before {
     background-image: url(../images/icons/services/icon06.svg);
     }
    
     .card__title {
     text-transform: uppercase;
     color: $title-color;
     padding: 0 10px;
     }
 
     .card__discription {
     color: $text-color;
     margin-left: 60px;
     text-align: justify;
     }