
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}


@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto-LightItalic.woff') format('woff');
    src: url('../fonts/Roboto-LightItalic.ttf') format('ttf');
}


@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('../fonts/KaushanScript-Regular.woff') format('woff');
    src: url('../fonts/KaushanScript-Regular.ttf') format('ttf');
}