* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.conteiner {
width: 900px;
margin: 0 auto;    
}

.header {
padding: 20px 0 0 0;
margin-bottom: 30px;
}

.title {
margin-bottom: 20px;
text-align: left;
}

.img-position {
margin-bottom: 20px;
}

.article-title {
margin-bottom: 20px;
text-align: left;
font-size: 24px;
}

.article-text {
text-align: justify;
}

.nav-list {
text-align: center;
font-size:0;
}

.list-item {
list-style: none;
display: inline-block;
margin: 0 30px 0 0;
font-size:16px;
}

.list-item-right {
margin-right: 0;
}

.nav-link {
display: block;
text-decoration: none;
color: slategrey;
}

.nav-link:hover {
color:blue;
} 

.news-lifestyle {
margin: 0 auto; 
padding-bottom: 10px;
box-sizing: 900px;
display: inline-block;
}

.news-article__list {
display: inline-block;
list-style: none;
margin-bottom: 40px;
font-size: 0;
}

.news-article__item {
list-style: none;
display: inline-block;
width: 420px;
font-size: 14px;
color: grey;
}

.news-article__item:nth-child(odd) {
margin-right: 60px;
/* margin-right: calc((900px - 420px * 2) - 8px); */
}

.news-article__item:nth-child(-n+4) {
margin-bottom: 30px;
}

.button-center {
display: block;
margin: 0 auto;
padding: 15px 25px;
width: 150px;
text-align: center;
outline: none;
font-size: 20px;
cursor: pointer;
border: 2px solid grey;
background: rgb(221, 215, 215);
}

.button-center:hover {
color: ghostwhite;
background-color: gray;
}