* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.conteiner {
width: 900px;
margin: 0 auto;    
}

.header {
padding: 20px 0 0 0;
margin-bottom: 30px;
}

.title {
padding: 10px;
text-align: left;
}

.article-title {
padding: 20px;
text-align: left;
font-size: 24px;
}

.article-text {
text-align: justify;
}

.nav-list {
text-align: center;
padding: 20px;
font-size:0;
}

.list-item {
list-style: none;
display: inline-block;
margin: 0 30px 0 0;
font-size:16px;
}

.list-item-right {
margin-right: 0;
}

.list-item-r {
margin-right: 50px;
}

.nav-link {
text-decoration: none;
color: slategrey;
}

.news-lifestyle {
margin: 0 auto;    
box-sizing: 900px;
text-align: center;
display: inline-block;
font-size: 0;
margin-bottom: 30px;
width: calc(50% - 4px);
}

.news-article__list {
font-size: 14px;
}

.news-article__item {
list-style: none;
margin: 0 0 30px 0;
padding: 20px;
}

.centre-lifestyle {
margin: 0 auto;   
box-sizing: 900px;
text-align: center;
display: inline-block;
font-size: 0;
margin-bottom: 30px;
width: calc(50% - 4px);
}

.centre-article__list {
font-size: 14px;
}

.centre-article__item {
list-style: none;
margin: 0 0 30px 0;
padding: 20px;
}

.last-lifestyle {
margin: 0 auto;   
box-sizing: 900px;
text-align: center;
display: inline-block;
font-size: 0;
margin-bottom: 30px;
width: calc(50% - 4px);
}

.last-article__list {
font-size: 14px;
}

.last-article__item {
list-style: none;
margin: 0 0 30px 0;
padding: 20px;
}

.button-center {
display: block;
margin: 0 auto;
width: 130px;
height: 100%;
text-align: center;
outline: none;
font-size: 24px;
padding: 10px 0 50px 0;
}
