@import "./fonts.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body {
    background-color: #282828;
    }

    .wrapper {
    margin: 0 auto;
    width: 1400px;
    background-color: #ffff;
    }

    .container {
    margin: 0 auto;
    width: 940px;
    }

    .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin-bottom: 80px;
    }

    .logo {
    display: block;
    font-size: 30px;
    color: #ffd700;
    font-family: 'Wisdom Script';
    }

    .nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 485px;
    }

    .list-item {
    list-style: none;
    }

    .nav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat Regular';
    color: #000000;
    }

    .list-item:hover .nav-link {
    color: #ffd700;
    }

    .collection {
    margin: 0 auto;
    }

    .collection-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Montserrat Bold';
    margin-bottom: 10px;
    }

    .collection-text {
    text-align: center;
    font-family: 'Droid Serif';
    color: #9b9b9b;
    font-size: 16px;
    margin-bottom: 50px;
    }

    .cart-list {
    display: flex;
    justify-content: space-between;
    }

    .cart-item {
    width: 290px;
    list-style: none;
    text-align: center;
    margin-bottom: 100px;
    }

    .cart-item::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
    }

    .icon01::before {
    background-image: url(../icon/Icon-Basket.png);
    }

    .icon02::before {
    background-image: url(../icon/Icon-Laptop.png);
    }

    .icon03::before {
    background-image: url(../icon/Icon-Locked.png);
    }
   
    .cart-title {
    font-family: 'Montserrat Bold';
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }

    .discription {
    font-size: 14px;
    font-family: 'Roboto Slab';
    color: #9b9b9b;
    }

    .background {
    background-image: url(../img/MapImage.png);
    margin: 0 auto;
    width: 1400px;
    }

    .inform {
    padding: 80px 0;
    }

    .inform-title {
    color: #ffff;
    font-size: 36px;
    font-family: 'Montserrat Bold';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    }

    .inform-text {
    color: #9b9b9b;
    text-align: center;
    font-family: 'Droid Serif';
    font-size: 16px;
    margin-bottom: 60px;
    }

    .inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .form {
    width: 455px;
    height: 50px;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Montserrat Bold';
    font-size: 16px;
    margin-bottom: 30px;
    }

    .mess-text {
    position: absolute;
    right: 0;
    width: 455px;
    height: 210px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 16px;
    }

    .send-inform {
    margin: 0 auto;
    display: block;
    background-color: #ffd700;
    color: #ffff;
    width: 245px;
    height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat Bold';
    }

    .send-inform:hover {
    border-color: #ffd700;
    background-color: #ffff;
    color: #ffd700;
    cursor: pointer;
    }
