@media screen and (max-width: 767px) {
    .header {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    }

    .logo {
    display: block;
    margin: 0 auto;
    }

    .header-nav {
    margin: 0 auto;
    }

    .nav-list {
    margin-bottom: 160px;
    display: flex;
    }

    .container {
    width: 320px;
    }

    .main-title {
    margin-bottom: 30px; 
    }

    .title {
    margin-bottom: 30px;
    }

    .content-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    }

    .content-item:last-child {
    margin-bottom: 0px;
    }

}


@media screen and (min-width: 768px) {
 .container {
     width: 660px;
    }

 .content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    }

    .header {
    margin-bottom: 160px;   
    }

    .header {
    display: flex;
    justify-content: space-between;
    }

    .nav-list {
    display: flex;
    }

    .main-title {
    margin-bottom: 30px;
    }

    .main-title {
    margin-bottom: 30px; 
    font-size: 40px;
    }

    .title {
    margin-bottom: 30px;
    }

    .content-item {
    margin-bottom: 30px;
    }

    .content-item:nth-child(n+3) {
    margin-bottom: 0px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
    width: 942px;
    }

    .header {
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;    
    }

    .main-title {
    margin-bottom: 30px;
    }

    .title {
    margin-bottom: 30px;
    }

    .content-item {
    margin-bottom: 0px;
    }


}