* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
margin: 0 auto;
}

.wrapper {
margin: 0 auto;
max-width: 100%;
min-height: 700px;
margin-bottom: 30px;
background-image: url(..//img/VectorSmartObject.img);
background-repeat: no-repeat;
background-position: center;
}

.container {
margin: 0 auto;
padding: 0 15px;
}

.header {
margin: 0 auto;
padding: 30px 0;
}

.logo {
display: block;
font-family: 'MontserratBold', sans-serif;
font-size: 20px;
font-weight: bold;
color: #ffffff;
text-transform: uppercase;
padding: 0 25px;
}

.nav-item {
list-style: none;
}

.nav-link {
text-decoration: none;
font-size: 18px;
border-color: transparent;
background-color: transparent;
color: #ffffff;
cursor: pointer;
text-align: center;
padding: 10px 20px;
}

.nav-link:hover {
border: 2px #ffffff solid;
border-radius: 40px;
}

.main-title {
font-family: 'Montserrat-Bold', sans-serif;
font-size: 45px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
}

.title {
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 24px;
text-align: center;
}

.information {
margin: 0 auto;
display: block;
cursor: pointer;
text-align: center;
text-decoration: none;
width: 200px;
font-family: 'Montserrat-Bold', sans-serif;
font-size: 14px;
padding: 10px 15px;
background-color:  #ff4e50;
color: #ffffff;
border-radius: 20px;
}

.content {
margin: 0 auto;
margin-bottom: 25px;
}

.content-title {
text-align: center;
margin-bottom: 30px;
}

.content-list {
margin-bottom: 30px;
}

.content-item {
width: 225px;
list-style: none;
text-align: center;
position: relative;
}

.photo {
margin-bottom: 15px;
}

.content-item::after {
content: "";
display: block;
width: 30px;
height: 30px;
background-position: center;
background-color: transparent;
border-radius: 45%;
position: absolute;
top: 80px;
left: 135px;
}

.icon01::after {
background-image: url(..//icon/icon01.png);
}

.icon02::after {
background-image: url(..//icon/icon02.png);
}

.icon03::after {
background-image: url(..//icon/icon03.png);
}

.icon04::after {
background-image: url(..//icon/icon04.png);
}

.people-name {
font-family: 'Roboto', sans-serif;
font-weight: bold;
margin-bottom: 15px;
}

.peple-inform {
font-family: 'Roboto', sans-serif;
color: #b3b3b3;
}

.show-more {
display: block;
margin: 0 auto;
cursor: pointer;
text-align: center;
font-family: 'Montserrat-Bold', sans-serif;
font-size: 14px;
padding: 10px 25px;
border: 3px solid  #ff4e50 ;
border-radius: 20px;
color: #ff4e50;
margin-bottom: 25px;
}