* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
font-family: "Open Sans", sans-serif;
}

.conteiner {
width: 1140px;
margin: 0 auto;
padding: 0 15px;
}

.header {
padding: 45px 0;
margin: 0 auto;
margin-bottom: 100px;
}

.nav-list {
list-style: none;
float: right;
}

.logo {
display: block;
list-style: none;
float: left;
text-transform: uppercase;
font-size: 30px;
line-height: 32px;
letter-spacing: 0px;
color: #444040;
font-family: "Roboto";
}

.logo:first-letter {
color: #1abc9c;
}
 
.list-item {
float: left;
font-size: 14px;
letter-spacing: 0px;
line-height: 11px;
margin-right: 30px;
}

.list-item:last-child {
margin-right: 0px;
}
    
.nav-link {
display: block;
text-decoration: none;
letter-spacing: 0px;
color: black;
font-weight: bold;
text-transform: uppercase;
}

.nav-link:hover {
color: turquoise;    
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

.main-title {
text-align: center;
font-size: 48px;
line-height: 32px;
color: #515151;
margin-bottom: 130px;
}

.main-title::after {
content: "";
border-bottom: 7px solid #4ec6ab;
display: block;
width: 136px;
margin: 0 auto;
margin-top: 30px;
}

.transform-text {
text-transform: uppercase;
}

.web-products {
padding-bottom: 50px;
}

.products-list {
list-style: none;
text-align: left;
font-size: 0px;
margin-bottom: 100px;
}

.products-item {
float: left;
width: 255px;
font-size: 18px;
letter-spacing: 0px;
line-height: 32px;
color: #ffffff;
margin-right: 30px;
font-family: "Roboto", sans-serif;
font-weight: 800;
margin-bottom: 30px;
}

.products-item:nth-child(4n) {
margin-right: 0px;
}

.article-link {
position: relative; 
}

.text {
float: left;
position: absolute;
left: 0px;
bottom: 10px;
text-transform: uppercase;
line-height: 40px;
width: 200px;
text-align: left;
color: white;
background-color: #515151;
padding: 0px;
}

.price {
float: right;
position: absolute;
right: 0px;
bottom: 10px;
line-height: 40px;
width: 55px;
text-align: center;
color: white;
background-color: silver;
padding: 0px;
}

.products-item:hover .text {
background-color: #1abc9c;
}

.products-item:hover .price {
background-color: #62e7ca;
}

.title {
text-align: center;
font-size: 48px;
line-height: 32px;
color: #555252;
margin-bottom: 120px;
}

.title::after {
content: "";
border-bottom: 7px solid #4ec6ab;;
display: block;
width: 136px;
margin: 0 auto;
margin-top: 30px; 
margin-bottom: 80px;
}

.news {
width: 1110px;
margin: 0 auto;
padding-bottom: 75px;
}

.news-list {
display: inline-block;
list-style: none;
font-size: 0;
text-align: left;
}

.news-item {
float: left;
font-size: 14px;
width: 350px;
margin-right: 30px;
}

.news-item:nth-child(3) {
margin-right: 0px;
}

.article-title {
font-size: 18px;
letter-spacing: 0px;
line-height: 26px;
color: #555252;
margin-bottom: 25px;
}

.article-title::after {
content: "";
display: block;
border-bottom: 2px solid #4ec6ab;
width: 120px;
height: 3px;
margin-top: 15px;
}

.article-text {
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #555252;
margin-bottom: 15px;
}

.button-link {
display: block;
width: 160px;
height: 50px;
font-size: 16px;
line-height: 26px;
padding: 10px;
text-align: center;
background-color: #4ec6ab;
color:white;
border-radius: 3px;
box-shadow: 0px 2px 5px 
}
