* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
width: 1600px;
font-family: "Open Sans", sans-serif;
}

.conteiner {
width: 1110px;
margin: 0 auto;
margin-bottom: 100px;
}

.header {
padding: 50px;
margin: 0 auto;
}

.logo {

}

.list-item-right {
margin-right: 0px;
}

.nav-list {
list-style: none;
text-align: right;
}

.list-item {
display: inline-block;
font-size:0;
margin-right: 30px;

}

.nav-link {
display: inline-block;
text-decoration: none;
font-size: 14px;
letter-spacing: 0px;
line-height: 11px;
color: #1abc9c;
font-weight: bold;
color:black;
text-transform: uppercase;
}

.nav-link:hover {
color: turquoise;    
}





.web-products {
width: 1110px;
margin: 0 auto;
text-align: center;
font-size: 48px;
line-height: 32px;
color: #515151;
margin-bottom: 100px;
}


.products-list {
display: inline-block;
list-style: none;
text-align: left;
font-size: 0px;
margin-top: 130px;
}

.products-item {
display: inline-block;
width: 255px;
font-size: 18px;
letter-spacing: 0px;
line-height: 32px;
color: #ffffff;
margin-right: 30px;
font-family: "Roboto", sans-serif;
font-weight: 800;
}

.title {
color: white;
background-color: #515151;

}

.price {
color: white;
background-color: silver;
}

.products-item:nth-child(4n) {
margin-right: 0px;
}





.news {
width: 1110px;
margin: 0 auto;
text-align: center;
font-size: 48px;
line-height: 32px;
color: #555252;
}

.news-list {
display: inline-block;
list-style: none;
margin-bottom: 40px;
margin-top: 130px;
font-size: 0;
text-align: left;
}

.news-item {
display: inline-block;
font-size: 14px;
width: 350px;
margin-right: 30px;
}

.news-item:nth-child(3) {
margin-right: 0px;
}

.article-title {
font-size: 18px;
letter-spacing: 0px;
line-height: 26px;
color: #555252;
}


!! width: 136px;
height: 3px;
background-color: #4ec6ab;


.article-text {
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #555252;
}

.button-link {
display: block;
width: 160px;
height: 50px;
font-size: 16px;
line-height: 26px;
margin: 15px 190px 50px 0px;
text-align: center;
background-color: #4ec6ab;
color:white;
border-radius: 3px;
box-shadow: 0px 2px 5px 
}
