@import "./vars.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

    body {
   font-family: var(--main-font);
   }

   .container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    }

/* banner-header*/

   .banner {
    background-image: url(..//img/banner-img.img);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 100%;
    min-height: 1000px;
    background-position: center;
   }

   .banner__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
    padding: 25px 0;
    align-items: center;
    }

    .main__logo {
   display: block;
   }

   .logo__text {
    color: #ffffff;
    font-size: 30px;
    font-family: var(--nav-title-font);
    font-weight: bold;
   }

    .menu__nav {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
   }

    .nav__item {
   list-style: none;
   }

    .nav__link--icon {
   display: block;
   text-decoration: none;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 14px;
   transition: color 0.5s linear;
   }

   .nav__link--icon::after {
    display: block;
    content: "";
    height: 3px;
    background-color: var(--social-color);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    }
    
   .nav__link--icon:hover::after {
    transform: scaleX(1);
    }
    
   .nav__link--icon:hover {
    color: var(--social-color);
   }

   .nav__svgicon {
    width: 15px;
    height: 15px;
   }

   .nav__svgicon:hover {
    fill: var(--social-color);
  }

   .main__header {
    text-align: center;
   }

   .main__header--pretitle {
    font-family: var(--main-title);
    font-size: 65px;
    color: #ffffff;
    margin-bottom: 30px;
   }

   .main__header--title {
   font-family: var(--nav-title-font);
   color: #ffffff;
   font-weight: bold;
   font-size: 160px;
   text-transform: uppercase;
   margin: 0 0 100px 0;
   }

   .main__header--button {
    width: 145px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    font-family: var(--nav-title-font);
    font-weight: bold;
    border: 3px solid #ffffff;
    background-color: transparent;
    text-transform: uppercase;
   }

   .main__header--button:hover {
    color: var(--social-color);
    border: 3px solid var(--social-color);
   }


   /* cart-collection */

    .card__collection--title {
   text-align: center;
   font-family: var(--nav-title-font);
   font-size: 22px;
   text-transform: uppercase;
   color: var(--title-color);
   margin-bottom: 50px;
   }

    .card__collection--pretitle {
    text-transform: none;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    font-family: var(--main-title);
    }

    .card__collection--title::after, 
    .ourteam__inform--title::after {
    content: "";
    border-bottom: 5px solid #f38181;
    display: block;
    width: 60px;
    margin: 0 auto;
    padding: 15px 0;
    }

    .ourteam__inform--title {
    text-align: center;
    font-family: var(--main-font);
    font-size: 22px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--title-color);
    }

   .ourteam__inform--pretitle {
   text-transform: none;
   font-size: 24px;
   display: block;
   margin: 0 auto;
   padding: 15px 0;
   font-family: var(--main-title);
   }
     
    .menu__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .card__item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 380px;
    margin-bottom: 60px;
    }
    
    .card__item::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    }

    
    .card__item--icon01::before {
    background-image: url(../icon/services/icon01.png);
    }

    .card__item--icon02::before {
    background-image: url(../icon/services/icon02.png);
    }

    .card__item--icon03::before {
    background-image: url(../icon/services/icon03.png);
    }

    .card__item--icon04::before {
    background-image: url(../icon/services/icon04.png);
    }

    .card__item--icon05::before {
    background-image: url(../icon/services/icon05.png);
    }

    .card__item--icon06::before {
    background-image: url(../icon/services/icon06.png);
    }

    .card__title {
    text-transform: uppercase;
    color: var(--title-color);
    padding: 0 10px;
    }

    .card__discription {
    color: var(--text-color);
    margin-left: 60px;
    text-align: justify;
    }


/* inform-collection */

    .ourteam__inform {
    margin-bottom: 50px;
    }

    .ourteam__artical--text {
    text-align: center;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    }

    .menu__ourteam {
    display: flex;
    justify-content: space-between;
    }

    .ourteam__item {
    list-style: none;
    position: relative;
    }

    .ourteam__item:hover 
    .ourteam__photo {
    transform: translateX(-10px);  
    transform: translateY(-10px);
    transition-duration: 0.2s;
    }

    .ourteam__photo {
    background-color: var(--icon-color);
    margin-bottom: 20px;
    }
    
    .ourteam__name {
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
    }
    
    .ourteam__position {
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: italic;
    color: var(--text-color);
    }
    
    .ourteam__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.8));
    border: #fefefe solid 2px;
    opacity: 0;
    top: 0px;
    left: 0px;
    box-shadow: 5px 5px rgba(149, 225, 211, 1);
    transition-duration: 0.4s;
    }
       
    .ourteam__item:hover 
    .ourteam__overlay {
    opacity: 1;
    transform: translateX(-10px);  
    transform: translateY(-10px);
    }
        
    .overlay__list {
    display: flex;
    }
    
    .overlay__item {
    list-style: none;
    }

    .overlay__link {
    padding: 12px;
    display: block;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: var(--social-color);
    background-position: center;
    cursor: pointer;
    border: #f38181 0.5px solid;
    }

    .overlay__link:hover {
    background-color: var(--icon-color);
    }

    .overlay__icon {
    width: 30px;
    height: 30px;
    }

    /* footer */

    .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: var(--text-color) 1px solid;
    }

    .footer__text {
    font-size: 16px;
    }

    .footer__author {
    text-decoration: none;
    color: var(--overlay-color);
    }

    .form__registration {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .form__registration--email {
    color: var(--text-color);
    font-family: var(--main-title);
    border: #bfbfbf 2px solid;
    width: 250px;
    height: 40px;
    padding: 8px;
    }

    input {
    outline: none;
    border: none;
    }

    .form__registration--send {
    background-color: var(--icon-color);
    width: 150px;
    height: 40px;
    border: #95e1d3 2px solid;
    color: #fefefe;
    text-transform: uppercase;
    cursor: pointer;
    }
