:root {
--overlay-color: #f38181;
--social-color: #fce38a;
--hedden-color: #eaffd0;
--icon-color: #95e1d3;
--text-color: #bfbfbf;
--title-color:  #333333;
--main-font: 'Roboto', sans-serif;
--nav-title-font: 'Montserrat', sans-serif;
--main-title: 'Kaushan Script', cursive;
}
